
@font-face {
  font-family: 'VAGRound';
  src: url('VAGRound.eot?#iefix') format('embedded-opentype'),  url('VAGRound.woff') format('woff'), url('VAGRound.ttf')  format('truetype'), url('VAGRound.svg#VAGRound') format('svg');
  font-weight: normal;
  font-style: normal;
}
