@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t5eoin');
  src:  url('fonts/icomoon.eot?t5eoin#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t5eoin') format('truetype'),
    url('fonts/icomoon.woff?t5eoin') format('woff'),
    url('fonts/icomoon.svg?t5eoin#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-social-facebook:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-chevron-thin-left:before {
  content: "\e902";
}
.icon-chevron-thin-right:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e904";
}

