.b-btn {
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 0;
  font-weight: bold;
  position: relative;
  padding: 16px 20px;
  display: inline-block;
  background-color: #ccc;
  text-transform: uppercase;
  
  &:focus {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width:680px) {
    font-size: 16px;
    padding: 8px 15px;
  }
  
  &.small {
    font-size: 14px;
    background-color: #96c83d;
    
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #09babd;
    }
  }
  
  &__styled {
    padding: 14px 20px;
    background-color: #cd4b9a;
    border: 2px solid #cd4b9a;
    transition: all ease-in-out .3s;
    
    &:hover {
      color: #cd4b9a;
      border-color: #cd4b9a;
      text-decoration: none;
      background-color: transparent;
    }
  }
}
.b-btn__form {
	background-color: #f58620;
	border-bottom: 5px solid #ffc906;
	
	&:hover {
		background-color: #e47c1d;
	}
}