/*
Theme Name: Offspringhealth
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: offspringhealth
*/
.b-pink{background-color: #c752a4;}
.b-green{background-color: #91c53c;}
.b-yellow{background-color: #e9b622;}
.b-orange{background-color: #e98540;}
.b-blue{background-color: #3e5992;}
.b-lightblue{background-color: #64cbbc;}
.w-referral{
  position: relative;
  padding: 20px 0;
  background: url(img/bg/img08.jpg) no-repeat center;
  background-size: cover;
}
.w-referral::after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  content: "";
  display: block;
  background-color: rgba(255,255,255,.8);
}
.b-referral__form {
  background-color: #fff;
  padding: 28px 43px 0px;
}

.w-book .b-book__form .b-btn{
  margin-bottom:20px;
}
.w-book{
  padding-bottom: 50px;
}
.w-referral .container {
  z-index: 1;
  position: relative;
}
.w-last-blog-posts {
  position: relative;
  padding: 25px 0;
}
.posts-pagination .screen-reader-text{
  display: none;
}
.blog-post-image-thumb{
  background-position: center center;
  background-size: cover;
  max-height: 160px!important;
  height: 200px;
}
.w-post .b-header ,
.w-last-blog-posts .b-header {
  margin-bottom: 20px;
}
.w-last-blog-posts .w-breadcrumbs{
  border:0 ;
}
.w-last-blog-posts .w-breadcrumbs a:first-child{
  padding-left:0;
}
.colored-p{
  color: #cd4b9a;
}
.w-last-blog-posts .last-blog-post-image {
  height: 200px;
  overflow-y: hidden;
  margin-bottom:4px;
}
.w-row__contacts_printable
{display:none;}
.w-post .post-share-button{
  width:30px;
  height:30px;
  background-image:url(img/icons/share_buttons.png);
  background-repeat: no-repeat;
  cursor:pointer;
  display: inline-block;
  background-position-y:0;
  margin-left:20px;
}

.w-post .post-share-button.active:hover{
  background-position-y:-30px;
}

.w-post .post-share-button.post-share-fb{
  background-position-x:0;
}
.w-post .post-share-button.post-download-pdf{
  background-position-x:-49px;
}
.w-post .post-share-button.post-print{
  background-position-x:-97px;
}
.w-post .post-share-button.post-email{
  background-position-x:-146px;
}
.w-post .post-upheader{
  margin-bottom:8px;
}
.blog-post-datetime,
.w-last-blog-posts .more-posts-link{
  font-size:0.85em;
  font-style:italic;
}
.blog-post-title{
  color: #203970;
  font-size:1.4em;
}
.last-blog-post-title,
.w-post .b-header__txt {
  font-family: VAGRound;
}

.w-post .w-text .alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}
.w-post .b-header__txt{
  background-color: #09babd;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  padding: 4px 6px 0 6px;
}
.w-post .w-text h2,
.w-post .w-text h3{
  text-transform:  uppercase;
  font-family: VAGRound;
  color: #203970;
  font-size: 21px;
}
.w-post .w-text h4{
  color: #203970;
  font-size: 18px;
  font-weight: bold;
}
.w-post h3.h3-iconized {
  background-repeat: no-repeat;
  line-height: 50px;
}
.w-post h3.iconized-lunchbox {
  background-image: url('img/icons/lunchbox-icon.png');
  background-position: 174px 0px;

}
.w-post .w-text h5 {
  color: #203970;
  font-size: 15px;
}
.w-post .w-text ul{
  list-style: none;
}
.w-post .w-text ul li{
  margin-bottom: 30px;
}
.w-post .w-text ul li:before{
  content: "• ";
  color: #cd4b9a;
}
.w-post .Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.w-post .Rtable .Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em;
  font-size:1.4em;
  overflow: hidden;
  font-family: VAGRound;
  font-style: italic;
  list-style: none;
  border: 4px solid #fff;
  color:#ffffff;
  text-align: center;
  border-radius:16px;
  display: flex;
  align-items: center;
  width: 50%;
  min-height: 120px;
}
.w-post .Rtable .Rtable-cell > div {width: 100%;}
.blog-post-datetime,
.blog-post-title,
.blog-post-excerpt,
.w-last-blog-posts .last-blog-post-readmore{
  margin-bottom:15px;
}
.post-row,
.w-last-blog-posts .last-blog-post-readmore-row{
  margin-bottom: 35px;
}
.w-posts,
.w-post{
  padding:90px 0 60px;
}
.w-team__slider .b-team__item a {
  cursor: default;
}
.working_hours {
  display: inline-block;
}
.working_hours span {
  display: block;
}
.working_hours {
  width: 170px;
}
.working_hours_icon {
  background-image: url('img/icons/clock.svg');
  background-size: cover;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  top: 3px;
  margin-right: 2px;
  vertical-align: top;
}
.w-footer .working_hours_icon {
  width: 15px;
  height: 15px;
}
.w-footer .working_hours {
  width: inherit;
}
/*** book-form ***/
#book-form .alert {
  display: none;
  margin-top: 15px;
}
.send-book-form[disabled="disabled"] {
  border-color: #cccccc;
  background-color: #cccccc;
}
.send-book-form[disabled="disabled"]:hover {
  color: #ffffff;
  border-color: #cccccc;
  background-color: #cccccc;
}
.ajax-loader {
  display: none;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-image: url("css/ajax-loader.gif");
}
.ajax-loader.show-loader {
  display: inline-block;
}

@media (max-width: 880px) {
  .b-contacts {
    padding-bottom: inherit;
  }
  .w-contacts__text {
    width: 100%;
  }

}
@media (max-width: 767px) {
  .w-contacts__col,
  .b-contacts {
    padding-left: 0;
  }
  .b-contacts {
    text-align: center;
  }
  .b-social {
    display: inline-block;
  }
}





