.b-image {
  max-width: 140px;
  position: absolute;
  transition: all linear .4s;
  
  @media(max-width:768px) {
    display: none;
  }
}
.plane {
  top: 0;
  left: 0;
}
.lion {
  bottom: 0;
	right: 12%;
  z-index: 9;
  
  &.skrollable-before {
    opacity: 0;
  }
  
  @media(max-width:1900px) {
    & {
      right: 5%;
    }
  }
  
  @media(max-width:1440px) {
    & {
      right: 0%;
    }
  }
  
  @media(max-width:1200px) {
    & {
      max-width: 15%;
    }
  }
}
.tiger {
  z-index: 1;
  left: 12.3%;
  bottom: 3px;
  
  @media(max-width:1700px) {
    & {
      left: 5%;
    }
  }
  
  @media(max-width:1440px) {
    & {
      left: 0%;
    }
  }
  
  @media(max-width:1200px) {
    & {
      max-width: 12%;
    }
  }
}
.crocodile {
  left: 11.5%;
  bottom: 10px;
  transition: all linear 1s;
  width: 120px;
  
  @media(max-width:1900px) {
    right: 5%;
  }
  
  @media(max-width:1200px) {
    width: 150px;
  }
}
.monkey {
  top: 35px;
  z-index: 2;
  /*right: 0%;*/
	left: 0%;
}
.rabbit {
  bottom: 0%;
  right: 14%;
	z-index: 100;
  max-width: 100px;
  
  &.skrollable-before {
    opacity: 0;
    transition: all linear 3s;
  }
  
  @media(max-width:1900px) {
    & {
      right: 5%;
    }
  }
  
  @media(max-width:1200px) {
    & {
      width: 130px;
    }
  }
  
  @media(max-width:1024px) {
    & {
      width: 100px;
    }
  }
}