.b-scroller {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #09babd;
  z-index: 9999;
  font-size: 17px;
  cursor: pointer;
  position: fixed;
  font-weight: bold;
  padding: 6px 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.7);
  transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;
  
  &:hover {
    color: #09babd;
    text-decoration: none;
    background-color: #fff;
  }
  
  &.active {
    transform: translateY(100%);
  }
}