/*.b-controls__slider {
  top: 50%;
  left: 50%;
  z-index: 2;
  color: #fff;
  font-size: 40px;
  margin-top: -10px;
  position: absolute;
  width: calc(90% - 10px);
  transform: translate(-50%,-50%);
  
  @media(max-width:1200px) {
    & {
      font-size: 30px;
      width: calc(100% - 20px);
    }
  }
  
  .b-prev,
  .b-next {
    color: #09babd;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    
    &:hover {
      color: #96c83d;
    }
  }
  
  .b-prev {
    left: 0;
  }
	
  .b-next {
    right: 0;
  }
}*/
.b-slider {
  position: relative;
  
  .item {
    position: relative;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      background: rgba(255,255,255,1);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.07) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }
    
    .caption {
      top: 60%;
      left: 40%;
      z-index: 2;
      color: #203970;
      position: absolute;
      transform: translateY(-50%);
      text-shadow: 0 0 10px rgba(255,255,255,0.9),
      0 0 20px rgba(255,255,255,0.80),
      0 0 30px rgba(255,255,255,0.7),
      0 0 40px rgba(255,255,255,0.6),
      0 0 50px rgba(255,255,255,0.5);
      
      @media(max-width:1000px) {
        & {
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
        }
      }
      
      .b-btn {
        margin-left: 8px;
        text-shadow: none;
      }
      
      .head {
        line-height: 1;
        font-size: 82px;
        margin-bottom: 42px;
				font-family: $font_styled;
        
        @media(max-width:1200px) {
          & {
            font-size: 80px;
            margin-bottom: 22px;
          }
        }
        
        @media(max-width:1080px) {
          & {
            font-size: 45px;
            margin-bottom: 22px;
          }
        }
        
        .small {
          margin-top: 5px;
          font-size: 48px;
          
          @media(max-width:1200px) {
            & {
              font-size: 28px;
            }
          }
          
          @media(max-width:1080px) {
            & {
              font-size: 25px;
            }
          }
        }
      }
      
      .slogan {
        font-size: 32px;
        padding-left: 5px;
        margin-bottom: 56px;
        letter-spacing: 4.5px;
        
        @media(max-width:1200px) {
          & {
            margin-bottom: 15px;
          }
        }
        
        @media(max-width:1080px) {
          & {
            font-size: 20px;
            letter-spacing: 2px;
          }
        }
        
        @media(max-width:680px) {
          & {
            line-height: 1;
          }
        }
        
        @media(max-width:425px) {
          & {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  
  .slides-pagination {
    left: 50%;
    margin: 0;
    bottom: 40px;
    position: absolute;
    transform: translateX(-50%);
    
    @media(max-width:1300px) {
      & {
        bottom: 1%;
      }
    }
    
    @media(max-width:767px) {
      & {
        bottom: 5px;
      }
    }
    
    @media(max-width:425px) {
      & {
        display: none;
      }
    }

    a {
      width: 14px;
      height: 14px;
      border: none;
      position: relative;
      background-color: #fff;
      
      &.current {
        
        background-color: #fff;
        
        &:after {
          top: 50%;
          left: 50%;
          width: 6px;
          height: 6px;
          content: "";
          display: block;
          position: absolute;
          border-radius: 50%;
          background-color: #ccc;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}