.b-team__slider {

  .flex-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .b-team__item {
      flex: 25%;

      @media(max-width:991px) {
        flex: 33.33333%;
      }

      @media(max-width:480px) {
        flex: 50%;
      }

      @media(max-width:340px) {
        flex: 100%;
      }
    }
  }
}

.w-team__slider {
  padding: 0 10px;
  position: relative;

  .b-btn {
    margin-top: 25px;
  }

  .b-prev,
  .b-next {
    top: 50%;
    width: 40px;
    height: 40px;
    z-index: 100;
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    text-decoration: none;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #fff;
    }
  }

  .b-prev {
    left: -25px;

    @media(max-width:800px) {
      & {
        left: 0;
      }
    }
  }

  .b-next {
    right: -25px;

    @media(max-width:800px) {
      & {
        right: 0;
      }
    }
  }
}