/*color*/
$primary: #333;
$muted: #999;
/*end color*/

/*font*/
$font: 'Arial Regular', sans-serif;
$font_styled: 'VAGRound';
/*end*/

* {
	outline: none!important;
}
body {
	color: $primary;
	font-size: 14px;
	font-family: $font;
}
.b-header {
	color: #203970;
  position: relative;
  margin-bottom: 47px;
  font-family: $font_styled;

  @media(max-width:1024px) {
    & {
      margin-bottom: 20px;
    }
  }

  @media (max-height: 700px) {
    & {
      margin-bottom: 20px;
    }
  }

  &.light {
    color: #fff;
  }

  &__txt {
    margin: 0;
    font-size: 30px;
  }
}
.b-header2 {
  position: relative;
  margin-bottom: 17px;

  &__txt {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
}
.b-sub__header {
  margin-bottom: 50px;

  &-txt {
    margin: 0;
    color: #999;
    font-size: 24px;
    font-weight: bold;
  }
}
.b-container__wide {
  margin: 0 auto;
  max-width: 1755px;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.block {
	display: block;
}
.bold {
  font-weight: bold;
}
.divider {
  margin: 30px 0;
}
.inline-block {
	display: inline-block;
	vertical-align: middle;
}
.unstyled-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.w-clear:after {
	content: "";
	display: table;
	clear: both;
}

@media(max-width:767px) {
	.img-responsive {
		margin: 0 auto;
	}
}