.b-book__form {
  background-color: #fff;
  padding: 28px 43px 50px;

  @media(max-width:1440px) {
    padding: 15px;
  }

  @media(min-width:992px) and (max-width:1024px) {
    padding: 25px;
    margin: 0 auto;
    max-width: 80%;
  }

  .b-btn {
    min-width: 170px;
    margin-top: 10px;
  }

  .b-btn__styled {

    &:hover {
      color: #f58620;
      border-color: #f58620;
    }
  }
}
.b-checkbox {

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }

  input[type="checkbox"]:checked+label:after {
    content: "\e5ca";
  }

  label {
    margin: 0;
    color: #999;
    font-size: 16px;
    cursor: pointer;
    position: relative;

    &:after {
      top: -3px;
      left: 3px;
      color: #999;
      font-size: 22px;
      font-weight: bold;
      position: absolute;
    }

    &:before {
      content: "";
      width: 22px;
      height: 22px;
      display: inline-block;
      vertical-align: middle;
      border: 3px solid #999;
    }

    .text {
      font-weight: bold;
      font-family: $font;
      vertical-align: middle;
    }
  }
}
.b-form__group {
  margin-bottom: 30px;

  @media(max-width:1440px) {
    margin-bottom: 10px;
  }
}
.b-input {
  height: 40px;
  font-size: 16px;
  border-radius: 0;
  border: 3px solid #ccc;

  @media(max-width:991px) {
    margin-bottom: 15px
  }

  @media(max-width:1024px) {
    & {
      height: 40px;
    }
  }

  &.text {
    resize: none;
    min-height: 275px;
    padding: 20px 22px;

    @media(max-width:1440px) {
      & {
        min-height: 150px;
      }
    }
  }
}
.b-label {
  font-size: 18px;
  text-transform: uppercase;

  @media(max-width:1440px) {
    & {
      font-size: 14px;
    }
  }

  .required {
    color: #cd4b9a;
  }
}
.b-select {
  width: 100%;
  height: 40px;
  display: block;
  font-size: 16px;
  border-radius: 0;
  appearance: none;
  border: 3px solid #ccc;
  padding: 6px 45px 6px 12px;

  @media(max-width:1024px) {
    & {
      height: 40px;
    }
  }
}


.w-book {
  position: relative;
  padding: 20px 0;
  background: url(../img/bg/img08.jpg) no-repeat center;
  background-size: cover;

  @media(max-width:1140px) {
    padding: 50px 0;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
    display: block;
    background-color: rgba(255,255,255,.8);
  }

  .container {
    z-index: 1;
    position: relative;
  }
}
.w-select {
  position: relative;

  &:after {
    content: "";
    top: 50%;
    width: 0;
    height: 0;
    right: 25px;
    position: absolute;
    border-style: solid;
    transform: translateY(-50%);
    border-width: 8px 8px 0 8px;
    border-color: #cccccc transparent transparent transparent;
  }
}