.b-acn {
	font-size: 12px;
}
.b-address {
  margin: 0;
  color: #203970;
  font-size: 18px;
	font-weight: bold;
  padding: 24px 0 18px;

  @media(max-width:767px) {
    text-align: center;
  }

  p {
    margin: 0;
  }

  p+p {
    margin-top: 5px;
  }
}
.b-contacts {
	padding-left: 20px;

	@media(max-width:580px) {
		& {
			padding-right: 20px;
		}
	}

	.w-text {
		max-width: 40%;
		line-height: 1.7;
		margin-bottom: 17px;

		@media(max-width:580px) {
		& {
				max-width: 100%;
			}
		}
	}
}
.b-contacts__list {
	margin: 0;
	padding: 0;
	font-size: 18px;
	list-style: none;
	font-weight: bold;
	margin-bottom: 45px;

  .flex-item {
    display: flex;
    align-items: flex-start;

    .icon {
      margin-right: 5px;
    }
  }

	li+li {
		margin-top: 5px;
	}

	.mail__link {
		color: #333;
	}
}
.b-copy {
  margin: 0;
  text-transform: uppercase;
}
.b-logo__footer {
  width: 226px;
  height: 79px;
  display: block;
  background: url(../img/logos/logo.svg) no-repeat center;
	background-size: contain;

  @media(max-width:767px) {
    margin: 0 auto;
  }
}
.b-social {
  overflow: hidden;
  margin-bottom: 45px;

  @media(max-width:430px) {
    & {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  li {
    float: left;

    a {
      color: #fff;
      display: block;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      text-align: center;
      background-color: #666;
      text-decoration: none;

      .icon {
        line-height: 27px;
        font-size: 14px;

        &.icon-social-facebook {
          font-size: 21px;
        }
      }

      &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #f58620;
      }
    }
  }

  li+li {
    margin-left: 24px;

    @media(max-width:430px) {
      & {
        margin-left: 0px;
      }
    }
  }
}

.w-contacts {
  padding-left: 40px;

  @media(max-width:767px) {
    & {
      padding-left: 0;
    }
  }

  .link {
    color: #666;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    text-decoration: underline;
  }

  .w-text {
    line-height: 1.7;
    margin: -7px 0 20px 0;
  }
}
.w-copy {
  color: #fff;
  padding: 50px 0;
	position: relative;
	background-color: #96c83d;

  /*@media(max-width:1140px) {
    & {
      padding: 25px 0;
    }
  }*/
}
.w-contacts__col {
	width: 50%;
	position: relative;
	padding: 25px 0 0 25px;

	@media (max-width:767px) {
    width: 100%;
  }

  @media (max-width:580px) {
		& {
			padding-left: 0;
		}
	}
}
.w-contacts__text {
  width: 30%;
  font-size: 16px;
  padding: 25px 50px;

  @media (max-width:1120px) {
    padding: 15px 20px;
	}
  @media (max-width:880px) {
    width: 50%;
	}
  @media (max-width:767px) {
    width: 100%;
	}

  .header {
    color: #203970;
    font-size: 22px;
    font-family: $font_styled;
  }
}
.w-footer {
  position: relative;
  padding: 20px 0 0 ;

  @media(max-width:767px) {
    & {
      padding: 25px 0 0;
    }
  }

  .b-header {

    @media(max-width:767px) {
      text-align: center;
    }
  }
}
.w-map {
	width: 50%;
  /*padding-left: 30px;*/

	@media (max-width:880px) {
		& {
			width: 100%;
      padding-top: 60%;

      >div {
        left: 0;
        top: 0;
      }
		}
	}

  @media(max-width:767px) {
    & {
      padding-left: 0;
    }
  }

	/*.embed-responsive {
		height: 100%;
	}*/
}
.w-row__contacts {
  display: flex;
  position: relative;
  padding-bottom: 50px;
  background-color: #f0f0f0;

  @media (max-width:880px) {
    flex-wrap: wrap;
  }

  @media (max-width:768px) {
    padding-bottom: 20px;
  }
}