.b-fixed__nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #3b3838;
  position: fixed;
  padding: 10px 15px;
  background-color: #fff;
  transition: all linear .2s;

  @media(max-width:1024px) {
    & {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @media(min-width:880px) {
    & {
      background-color: rgba(255,255,255,.5);
    }
  }

  @media(max-width:880px) {
    & {
      z-index: 100;
      position: static;
      box-shadow: inset 0px -2px 2px rgba(0,0,0,.25);
    }
  }

  @media(max-width:767px) {
    & {
      min-height: auto;
    }
  }

  &.active {
    z-index: 999;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,.25);

    .b-logo {
      width: 210px;
      margin-top: 0;
    }
  }
}
.b-logo {
  width: 210px;
  height: 98px;
  margin-left: 5px;
  background: url(../img/logos/logo.svg) no-repeat center;
  background-size: 100%;
  transition: all linear .2s;

  @media(max-width:1300px) {
    & {
      max-width: 210px;
    }
  }

  @media(max-width:767px) {
    & {
      background: url(../img/logos/logo-sm.svg) no-repeat center;
      background-size: contain;
    }
  }

  @media(max-width:767px) {
    & {
      margin-top: 0;
      height: 50px;
      max-width: 70px;
    }
  }
}
.b-menu {

  &.collapse {
    @media (min-width:768px) {
      height:98px!important;
      display: flex!important;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
.b-nav {

  @media(max-width:767px) {
    padding-top: 0;
  }

  @media(max-width:870px) {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }

  @media(min-width:768px) and (max-width:870px) {
    float: none!important;
  }

  .styled {
    padding: 7px;
    margin-left: 5px;
    border: 3px solid #96c83d;

    @media(max-width:1365px) {
      display: none;
    }

    @media(max-width:870px) {
      display: block;
    }

    @media(max-width:767px) {
      margin-left: 0;
    }

    &:focus,
    &:hover{
      color: $primary;
      border-color: #f58620;
      background-color: transparent;
    }
  }

  >li {

    >a {
      color: inherit;
      font-weight: bold;
      text-transform: uppercase;
      font-size:13px;
      padding:10px;

      @media(max-width:1140px) {
        font-size: 13px;
      }

      @media(min-width:768px) and (max-width:870px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @media(max-width:425px) {
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &:focus,
      &:hover {
        color: #96c83d;
        background-color: transparent;
      }
    }
  }
}
.b-slogan {
  z-index: 2;
  color: #203970;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  letter-spacing: 5.5px;
}
.b-toggle {
  line-height: 1;
  font-size: 30px;
  margin-top: 25px;

  @media(max-width:767px) {
    & {
      margin: 5px;
      padding: 5px;
      font-size: 25px;
    }
  }
}

.w-contacts__small {
  float: right;
  order:2;
  width: 220px;
  font-size: 12px;
  padding:0 0 0 15px;
  margin:5px 0 5px 20px;
  border-left: 1px solid #ccc;

  @media(max-width: 1169px) {
    display: none;
  }

  .b-address {
    padding: 0;
    line-height: 1;
    font-size: inherit;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .b-contacts__list {
    margin: 0;
    font-size: inherit;

    > li + li {
      margin-top: 1px;
    }
  }
}
.w-header {

  @media(max-width:870px) {
    & {
      text-align: center;
    }
  }
}
.w-slider {
  overflow: hidden;
  position: relative;
  border-bottom: 7px solid #ededed;
}

.navbar-header {

  @media(min-width:768px) and (max-width:870px) {
    & {
      display: none;
    }
  }
}