p.text {
  font-size: 16px;
  line-height: 1.9;
}
p.text + p.text {
  margin-top: 30px;
}

.b-ava {
  margin-bottom: 25px;

  .img-responsive {
    margin: 0 auto;
  }
}
.b-appointment {
  color: #cd4b9a;
  font-size: 18px;
  margin-top: 68px;
  font-weight: bold;
  position: relative;
  vertical-align: top;
  display: inline-block;
  letter-spacing: 3.7px;
  padding-bottom: 50px;

  @media(max-width:767px) {
    display: block;
    text-align: center;
    margin-top: 34px;
    padding-bottom: 25px;
  }

  &:after {
    bottom: 0;
    left: 50%;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ccc;
    font-size: 22px;
    content: '\f078';
    position: absolute;
    font-family: icomoon!important;
    transform: translateX(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media(max-width:767px) {
      font-size: 14px;
    }
  }

  .name {
    color: #09babd;
    text-transform: uppercase;
  }
}
.b-person__description {
  font-size: 14px;
  margin-bottom: 5px;

  @media(max-width:767px) {
    text-align: center;
  }

  &.bold {
    color: #203970;
    font-size: 16px;
  }
}
.b-person__head {
  color: #09babd;
  line-height: 1;
  font-size: 28px;
  margin: 0 0 5px 0;
  font-weight: bold;

  @media(max-width:767px) {
    text-align: center;
  }
}
.b-person__head2 {
  color: #203970;
  font-size: 18px;
  margin-bottom: 8px;
  font-family: $font_styled;
}
.b-interst__list {

  >li {
    color: #3d4248;
    font-size: 16px;
    position: relative;
    padding-left: 27px;

    &:after {
      content: "";
      top: 50%;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      background-color: #cd4b9a;
      transform: translateY(-50%);
    }
  }

  >li+li {
    margin-top: 9px;
  }
}


.w-hero {
  min-height: 447px;
  position: relative;
  background: url(../img/hero/img01.jpg) no-repeat top center;
  background-size: cover;

  .b-slogan {
    padding-top: 45%;
    padding-left: 62px;
  }

  &:after {
    top: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    width: 100%;
    background: #fff;
    position: absolute;
    background: linear-gradient(to bottom,#fff 0,rgba(255,255,255,.07) 100%);
  }
}
.w-person {
  padding: 90px 0 60px;
}
.w-person__details {
  margin-bottom: 8px;
  vertical-align: top;
  display: inline-block;

  @media(max-width:767px) {
    display: block;
  }
}