.b-philosophy {
  padding: 20px;
  position: relative;
  text-align: center;
  min-height: 540px;
  background-color: #fff;
  
  @media(max-width:1140px) {
    & {
      min-height: 460px;
    }
  }
  
  @media(max-width:1024px) {
    & {
      min-height: 400px;
    }
  }
  
  @media(max-width:880px) {
    & {
      padding: 15px;
    }
  }
  
  @media(max-height:720px) {
    & {
      min-height: 460px;
    }
  }
  
  @media(max-width:767px) {
    & {
      min-height: auto;
      margin-bottom: 15px;
    }
  }
  
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 51px 51px;
    border-color: transparent transparent #ffc906 transparent;

  }
  
  .head {
    color: #203970;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 16px;
    
    @media(max-width:880px) {
      & {
        font-size: 18px;
      }
    }
  }
  
  .icon {
    min-height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    
    img {
      margin: 0 auto;
    }
  }
  
  .w-text {
    font-size: 16px;
    line-height: 1.9;
    
    @media(max-width:1024px) {
      & {
        font-size: 14px;
        line-height: 1.6;
      }
    }
    
    strong {
      color: #102d6e;
    }
  }
}

.w-philosophy {
  position: relative;
  padding: 47px 0 47px;
  background-color: #61d0d0;
  border-top: 2px solid #def5f3;
  
  @media(max-width:1140px) {
    & {
      padding: 50px 0;
    }
  }
  
  @media(max-height:700px) {
    & {
      padding: 20px 0;
    }
  }
}