.b-team__item {
  text-align: center;
  margin-bottom: 20px;

  @media(max-width:767px) {
    margin-bottom: 15px;
  }

  .ava {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto 10px;

    img {
      margin: 0 auto;
      border-radius: 50%;
    }
  }

  .caption {
    color: #999;
    margin: 0 auto;
    max-width: 80%;
  }

  .name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 3px;

    a {
      color: #09babd;
      text-decoration: none;

      &:hover {
        color: #96c83d;
      }
    }
  }

  .w-text {
    text-align: left;
    line-height: 1.7;
    margin-bottom: 14px;

    p {
      margin: 0
    }

    p + p {
      margin-top: 24px;
    }
  }
}

.w-team {
  overflow: hidden;
  position: relative;
  padding: 25px 0 200px;
  background-color: #f8f8f8;
  border-bottom: 7px solid #96c83d;

  @media(max-width:768px) {
    padding: 50px 0;
  }

  .b-header {
    margin-bottom: 25px;
  }
}
.w-team__name {
  padding: 106px 0 50px;
  padding: 53px 0 25px;

  .b-sub__header {
    margin-bottom: 18px;
  }
}
.w-team__row + .w-team__row {
  margin-top: 55px;

  @media(max-width:767px) {
    & {
      margin-top: 25px;
    }
  }
}