.w-welcome {
  padding: 160px 0;
  /*min-height: 550px;*/
  position: relative;
  
  @media(max-width:1440px) {
    padding: 150px 0;
  }
  
  @media(max-width:1200px) {
    & {
      min-height: auto;
      padding-bottom: 50px;
    }
  }
  
  @media(max-width:1080px) {
    & {
      min-height: auto;
      padding: 50px 20px;
    }
  }
  
  @media(max-width:320px) {
    & {
      padding: 25px 10px;
    }
  }
  
  .w-text {
    font-size: 16px;
    line-height: 2;
    padding-right: 20px;
    text-align: justify;
    text-shadow: 2px 2px 2px #fff;
    
    @media(max-width:1240px) {
      & {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }
	
	.w-text + .w-text {
		margin-top: 10px;
	} 
	
}