.b-work {
  color: #000;
  float: left;
  width: 25%;
  flex: 25%;
  position: relative;
  text-decoration: none;
  background-color: #ccc;
  min-height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;

    .overlay {

      .icon,
      .head {
        color: #000;
      }
    }
  }

  @media(max-width:880px) {
    & {
      flex: 50%;
      min-height: 250px;
    }
  }

  @media(max-width:600px) {
    & {
      flex: 100%;
    }
  }

  &:after {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    content: "";
    position: absolute;
    background-size: contain;
  }

  &.color1:after {
    background-image: url(../img/bg/img01.png);
  }
  &.color2 {
    background-image: url(../img/bg/img02.png);
  }
  &.color3 {
    background-image: url(../img/bg/img03.png);
  }
  &.color4 {
    background-image: url(../img/bg/img04.png);
  }
  &.color5 {
    background-image: url(../img/bg/img05.png);
  }
  &.color6 {
    background-image: url(../img/bg/img06.png);
  }
  &.color7 {
    background-image: url(../img/bg/img07.png);
  }

  .head {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    transition: all linear .2s;

    /*@media(max-height:1024px) {
      & {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }*/
  }

  .overlay {
    z-index: 1;
    max-width: 100%;
    padding: 0px 15px;
    position: relative;
    text-align: center;

    @media(max-width:1200px) {
      & {
        padding: 0 20px;
      }
    }

    @media(max-height:640px) {
      & {
        padding: 10px 20px;
      }
    }

    @media(max-width:600px) {
      & {
        padding: 20px
      }
    }

    &.with-icon {
      padding-top: 55px;
    }

    .icon {
      display: block;
      min-height: 85px;
      max-width: 100px;
      width: 100%;
      margin: 0 auto 12px;
      transition: all linear .2s;
    }
  }

  .w-text {
    font-size: 16px;
    line-height: 1.8;
    text-align: left;
    padding-left: 35px;

    @media(max-width:1200px) {
      & {
        padding-left: 0;
      }
    }

    @media(max-height:640px) {
      & {
        font-size: 14px;
      }
    }
  }
}

.w-breadcrumbs {
	line-height: 1;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 20px;
	display: inline-flex;

	.link {
		color: #203970;
		padding: 0 25px;
		text-decoration: none;

		&.active {
			color: #7eae29;
		}
	}

	.link + .link {
		border-left: 2px solid #203970;
	}
}
.w-work {
	padding: 30px 0 0;
  background-color: #f8f8f8;

  /*@media(max-width:1140px) {
    & {
      padding-top: 50px;
    }
  }*/

  @media(max-width:1024px) {
    & {
      padding: 20px 0;
    }
  }

  .b-header {
    margin-bottom: 20px;

    @media(max-width:1024px) {
      & {
        margin-bottom: 15px;
      }
    }
  }
}
.w-work__items {
  display: flex;
  flex-wrap: wrap;
}